<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Miguel González Gómez{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Miguel González Gómez - Portfolio">
        <meta name="author" content="Miguel González Gómez" />
        <meta name="keywords" content="miguel,gonzalez,gomez,portfolio" />
        
        {% stylesheets '@vendor_css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@main_css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-ng-app="app" ng-strict-di>
        <div id="wrapper" data-ng-controller="SidebarController as sidebar" data-ng-class="{expanded: sidebar.expanded}">
            <div id="sidebar-wrapper">
                {% include 'skeleton/menu.html.twig' %}
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% javascripts '@vendor_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@main_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
